public-hoist-pattern[]=@types/*
public-hoist-pattern[]=playwright-core
public-hoist-pattern[]=zod
side-effects-cache=false
strict-peer-dependencies=false
prefer-workspace-packages=true
npm.pkg.github.com/:_authToken={GITHUB_TOKEN}
@heitorlisboa:registry=https://npm.pkg.github.com
